{% extends 'base/base.html' %}

{% block title %}My Discord Command{% endblock %}

{% block header %}

    {% include 'base/_breadcrumb.html' %}

    {% include 'base/_alert.html' %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center pb-5">
        <div class="col-md-7 align-self-center">
            <h1 class="lh-1 my-5">
                <span class="border-bottom border-success border-2">MyDiscordコマンド</span>
            </h1>
            <form method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <table class="table mb-5">
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                        </tr>
                        {% for field in form %}
                        <tr>
                            <th scope="row">{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-2"></i>Save
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}