{% extends "base.html" %}

{% block title %}Password Change Done{% endblock %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light rounded-2">
        <li class="breadcrumb-item"><a href="{% url 'notice:index' %}">ホーム</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:password_change' %}">パスワード変更</a></li>
        <li class="breadcrumb-item active" aria-current="page">変更済み</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container marketing h-100">
    <div class="row featurette justify-content-center text-center mb-5">
        <div class="col-md-10 align-self-center">
            <h2 class="featurette-heading lh-1 my-5">
                <span class="border-bottom border-success border-2">パスワードを変更しました</span>
            </h2>
            <p class="mb-5">パスワードを忘れた場合は、管理者にパスワードを変更してもらってください。</p>
            <a class="btn btn-primary mb-3" href="{% url 'notice:index' %}">
                <i class="bi bi-house pe-2"></i>Back to home
            </a>
        </div>
    </div>
</div>
{% endblock %}