{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block background %}bg-secondary{% endblock %}

{% block breadcrumb %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb p-3 bg-light rounded-2">
        <li class="breadcrumb-item"><a href="{% url 'about:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">PasswordChange</li>
    </ol>
</nav>

{% endblock %}

{% block content %}

<div class="d-grid justify-content-center">
    <div class="card" style="width: 24rem; margin: 3rem 0">
        <div class="card-header active">
            <h2 class="fw-bold text-center m-0">Password Change</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <br><small class="form-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <br><hr>
                <div class="d-grid justify-content-center">
                    <button type="submit" class="btn btn-success text-center">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}