{% extends 'base/base.html' %}

{% block title %}All{% endblock %}

{% block content %}
{% include 'base/_breadcrumb.html' %}
<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-10 align-self-center">
            <h1 class="text-center lh-1 my-5">
                <span class="border-bottom border-success border-2">全リスト</span>
            </h1>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button class="nav-link link-dark active" data-bs-toggle="tab" data-bs-target="#homework" type="button">課題</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link link-dark" data-bs-toggle="tab" data-bs-target="#todo" type="button">To-Do</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link link-dark" data-bs-toggle="tab" data-bs-target="#item" type="button">持ち物</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="homework">
                            {% if hw_schedules %}
                                {% for hw_s in hw_schedules %}
                                <div class="card border-danger my-3">
                                    <div class="card-header bg-danger text-white">
                                        {{ hw_s.deadline }}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">{{ hw_s.subject.name }}</h5>
                                        <p class="card-text">{{ hw_s.title }}</p>
                                        {% if hw_s.detail %}
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ hw_s.pk }}" aria-expanded="false" aria-controls="collapse{{ hw_s.pk }}">
                                                    詳細
                                                    </button>
                                                </h2>
                                                <div id="collapse{{ hw_s.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">{{ hw_s.detail }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <p class="text-center">課題はありません。</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="todo">
                            {% if todo_schedules %}
                                {% for todo_s in todo_schedules %}
                                <div class="card border-success my-3">
                                    <div class="card-header bg-success text-white">
                                        {{ todo_s.deadline }}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">{{ todo_s.subject.name }}</h5>
                                        <p class="card-text">{{ todo_s.title }}</p>
                                        {% if todo_s.detail %}
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ todo_s.pk }}" aria-expanded="false" aria-controls="collapse{{ todo_s.pk }}">
                                                    詳細
                                                    </button>
                                                </h2>
                                                <div id="collapse{{ todo_s.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">{{ todo_s.detail }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <p class="text-center">To-Doはありません。</p>
                            {% endif %}    
                        </div>
                        <div class="tab-pane" id="item">
                            {% if item_schedules %}
                                {% for item_s in item_schedules %}
                                <div class="card border-primary my-3">
                                    <div class="card-header bg-primary text-white">
                                        {{ item_s.deadline }}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">{{ item_s.subject.name }}</h5>
                                        <p class="card-text">{{ item_s.title }}</p>
                                        {% if item_s.detail %}
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item_s.pk }}" aria-expanded="false" aria-controls="collapse{{ item_s.pk }}">
                                                    詳細
                                                    </button>
                                                </h2>
                                                <div id="collapse{{ item_s.pk }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">{{ item_s.detail }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <p class="text-center">持ち物はありません。</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}