{% extends 'base/base.html' %}

{% block title %}Month{% endblock %}

{% block content %}
{% include 'base/_breadcrumb.html' %}
<h1 class="text-center lh-1 my-5">
    <span class="border-bottom border-success border-2">月間カレンダー</span>
</h1>
<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'reminder:month' month_previous.year month_previous.month %}">前月</a>
        </li>
        <li class="page-item">
            <a class="page-link disabled">{{ month_current | date:"Y年m月" }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'reminder:month' month_next.year month_next.month %}">次月</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row justify-content-center text-center pb-5">
        <div class="col-md-12 align-self-center table-responsive">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        {% for w in week_names %}
                        <th style="min-width: 6rem;">{{ w }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for week in month_days %}
                    <tr>
                        {% for day in week %}
                            {% if now == day %}
                            <td class="table-success">
                            {% else %}
                            <td>
                            {% endif %}
                                {% if month_current.month != day.month %}
                                    {{ day | date:"m/d" }}
                                {% else %}
                                    {{ day.day }}
                                {% endif %}
                                <hr class="border-0">

                                <ul class="list-unstyled">
                                    {% if hw_schedules %}
                                        {% for hw_s in hw_schedules %}
                                            {% if hw_s.deadline == day %}
                                            <li>
                                                <span class="badge bg-danger text-white fw-normal">
                                                    <i class="bi bi-pencil-square me-1"></i>課題
                                                </span>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
    
                                    {% if todo_schedules %}
                                        {% for todo_s in todo_schedules %}
                                            {% if todo_s.deadline == day %}
                                            <li>
                                                <span class="badge bg-success text-white fw-normal">
                                                    <i class="bi bi-check2-circle me-1"></i>To-Do
                                                </span>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
    
                                    {% if item_schedules %}
                                        {% for item_s in item_schedules %}
                                            {% if item_s.deadline == day %}
                                            <li>
                                                <span class="badge bg-primary text-white fw-normal">
                                                    <i class="bi bi-backpack me-1"></i>持ち物
                                                </span>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
