{% extends "base/base.html" %}

{% block title %}Password Change Done{% endblock %}

{% block header %}
<!-- breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light rounded-2">
        <li class="breadcrumb-item"><a href="{% url 'notice:index' %}" class="link-success">ホーム</a></li>
        <li class="breadcrumb-item"><a href="{% url 'reminder:schedule_list' %}" class="link-success">Reminder - スケジュール一覧</a></li>
        <li class="breadcrumb-item"><a href="{% url 'reminder:schedule_detail' object.pk %}" class="link-success">スケジュールの詳細</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
    </ol>
</nav>
<!-- breadcrumb -->

    {% include 'base/_alert.html' %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center pb-5">
        <div class="col-md-7 align-self-center">
            <h1 class="lh-1 my-5">
                <span class="border-bottom border-success border-2">スケジュール削除</span>
            </h1>
            <p class="text-danger lead mb-5">本当に削除してもいいですか？</p>
            <p class="mb-5">削除 - スケジュール #{{object.pk}} </p>
            <form method="post">{% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash3 me-2"></i>Delete Schedule
                </button>
            </form>
            <a href="{% url 'reminder:schedule_detail' object.pk %}" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}