{% extends 'base/base.html' %}

{% block title %}Week Calendar{% endblock %}

{% block header %}

    {% include 'base/_breadcrumb.html' %}

    {% include 'base/_alert.html' %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center pb-5">
        <div class="col align-self-center">
            <h1 class="text-center lh-1 my-5">
                <span class="border-bottom border-success border-2">週間カレンダー</span>
            </h1>
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{% url 'reminder:week' week_previous.year week_previous.month  week_previous.day %}">前週</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link disabled">{{ week_first | date:"m月d日" }}〜{{ week_last | date:"m月d日" }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'reminder:week' week_next.year week_next.month  week_next.day %}">次週</a>
                    </li>
                </ul>
            </nav>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            {% for w in week_names %}
                            <th style="min-width: 10rem;">{{ w }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for day in week_days %}
                                {% if now == day %}
                                <td class="table-success">
                                {% else %}
                                <td>
                                {% endif %}
                                    <div>
                                    {% if week_first.month != day.month %}
                                        {{ day | date:"m/d" }}
                                    {% else %}
                                        {{ day.day }}
                                    {% endif %}
                                    <hr class="border-0">
                                    {% if schedules %}
                                        {% for s in schedules %}
                                            {% if s.deadline.date == day %}
                                                {% for c in categories %}
                                                    {% if s.category.name == c.name %}
                                                    <div class="card border-{{ c.bs_color }} my-2">
                                                        <div class="card-header bg-{{ c.bs_color }} text-white">
                                                            <i class="bi {{ c.bs_icon }} me-2"></i>{{ c.name }}
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title fw-bold">{{ s.subject.name }}</h5>
                                                            <p class="card-text">{{ s.title }}</p>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}